<div class="w-screen h-screen flex flex-row justify-center items-center">
  <div
    class="w-4/5 h-full bg-slate-800 flex flex-col justify-center items-center p-10"
  >
    <img src="assets/images/panel.svg" alt="My Icon" class="w-full h-full" />
  </div>
  <div class="w-1/5 h-full flex flex-col justify-center items-center">
    <div class="text-xl mb-5">Login</div>
    @if(twofa) {
    <form
      [formGroup]="twofaForm"
      class="flex flex-col justify-center items-center w-full p-4"
      (ngSubmit)="loginTwoFa()"
    >
      <mat-form-field appearance="outline" class="w-56">
        <mat-label>Token</mat-label>
        <input
          matInput
          id="twofa"
          type="text"
          formControlName="twofa"
          mask="000 000"
        />
      </mat-form-field>
      <div class="flex flex-row justify-center items-center gap-3">
        <button type="button" mat-flat-button (click)="twofa = false">
          Voltar
        </button>
        <button type="submit" [disabled]="!twofaForm.valid" mat-flat-button>
          Logar
        </button>
      </div>
    </form>
    } @else {
    <form
      [formGroup]="loginForm"
      class="flex flex-col justify-center items-center w-full p-4"
      (ngSubmit)="login()"
    >
      <mat-form-field appearance="outline" class="w-56">
        <mat-label>Usuário</mat-label>
        <input matInput id="username" type="text" formControlName="username" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-56">
        <mat-label>Senha</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="switchPasswordVisibility()"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <button type="submit" mat-flat-button [disabled]="!loginForm.valid">
        Logar
      </button>
    </form>
    }
    <button type="button" mat-button (click)="redirectToCreate()">Criar conta</button>
  </div>
</div>
