<mat-dialog-content>
  <form
    [formGroup]="twofaForm"
  >
    <mat-form-field appearance="outline"    >
      <mat-label>Token</mat-label>
      <input
        matInput
        id="twofa"
        type="text"
        formControlName="twofa"
        mask="000 000"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" mat-button (click)="close()" color="primary">Cancelar</button>
    <button type="button" mat-button (click)="disable()">Desativar</button>
</mat-dialog-actions>
