<div class="w-screen h-screen flex flex-row justify-center items-center">
  <div class="w-2/5 h-full"></div>
  <div class="w-3/5 h-full flex flex-col justify-center items-center">
    <div
      class="text-xl p-4 bg-slate-800 w-full flex flex-col justify-center items-center text-white"
    >
      Criar conta da loja
    </div>
    <mat-stepper [linear]="true" #stepper class="w-full flex-grow p-4">
      <mat-step [stepControl]="storeFormGroup">
        <ng-template matStepLabel>Dados da loja</ng-template>
        <mat-card appearance="outlined" class="bg-white w-full m-4 gap-3">
          <mat-card-header class="flex flex-col justify-center items-center">
            <mat-card-title> Dados da loja </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form
              [formGroup]="storeFormGroup"
              class="w-full flex flex-col justify-center items-center gap-3"
            >
              <div
                class="w-full flex flex-row justify-center items-center gap-3"
              >
                <mat-form-field class="w-1/2">
                  <mat-label>Razão Social</mat-label>
                  <input matInput formControlName="realName" required />
                </mat-form-field>
                <mat-form-field class="w-1/2">
                  <mat-label>Nome Fantasia</mat-label>
                  <input matInput formControlName="fantasyName" required />
                </mat-form-field>
              </div>
              <div
                class="w-full flex flex-row justify-start items-center gap-3"
              >
                <mat-form-field class="w-1/3">
                  <mat-label>CNPJ</mat-label>
                  <input
                    matInput
                    formControlName="cnpj"
                    required
                    mask="00.000.000/0000-00"
                  />
                </mat-form-field>
              </div>
              <div
                class="w-full flex flex-row justify-start items-center gap-3"
              >
              <mat-form-field class="w-2/5">
                <mat-label>Fone</mat-label>
                <input
                  matInput
                  formControlName="phone"
                  required
                  (ngModelChange)="updatePhoneMask()"
                  [mask]="phoneMask"
                />
              </mat-form-field>
                <mat-form-field class="w-2/5">
                  <mat-label>E-mail</mat-label>
                  <input
                    matInput
                    formControlName="email"
                  />
                </mat-form-field>              
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions class="gap-2">
            <button mat-button matStepperNext>Avançar</button>
          </mat-card-actions>
        </mat-card>
      </mat-step>
      <mat-step [stepControl]="addressFormGroup" label="Endereço da loja">
        <mat-card appearance="outlined" class="bg-white w-full m-4 gap-3">
          <mat-card-header class="flex flex-col justify-center items-center">
            <mat-card-title> Endereço da loja </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form
              [formGroup]="addressFormGroup"
              class="w-full flex flex-col justify-center items-center gap-3"
            >
              <div
                class="w-full flex flex-row justify-start items-center gap-3"
              >
                <mat-form-field class="w-4/5">
                  <mat-label>Logradouro</mat-label>
                  <input matInput formControlName="place" required />
                </mat-form-field>
                <mat-form-field class="w-1/5">
                  <mat-label>Número</mat-label>
                  <input matInput formControlName="number" />
                </mat-form-field>
              </div>
              <div
                class="w-full flex flex-row justify-start items-center gap-3"
              >
                <mat-form-field class="w-3/5">
                  <mat-label>Complemento</mat-label>
                  <input matInput formControlName="complement" />
                </mat-form-field>
              </div>
              <div
                class="w-full flex flex-row justify-start items-center gap-3"
              >
                <mat-form-field class="w-1/2">
                  <mat-label>Bairro</mat-label>
                  <input matInput formControlName="neighborhood" required />
                </mat-form-field>
                <mat-form-field class="w-1/4">
                  <mat-label>CEP</mat-label>
                  <input
                    matInput
                    formControlName="zipcode"
                    required
                    mask="00000-000"
                  />
                </mat-form-field>
              </div>
              <div
                class="w-full flex flex-row justify-start items-center gap-3"
              >
                <mat-form-field class="w-2/5">
                  <mat-label>Cidade</mat-label>
                  <input matInput formControlName="city" required [matAutocomplete]="city"/>
                  <mat-autocomplete #city="matAutocomplete" [displayWith]="displayCity">
                    @for (city of filteredCities | async; track city) {
                      <mat-option [value]="city">{{city.nome}}</mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="w-1/4">
                  <mat-label>Estado</mat-label>
                  <input matInput formControlName="state" required [matAutocomplete]="state" (ngModelChange)="getCities()"/>
                  <mat-autocomplete #state="matAutocomplete" [displayWith]="displayState">
                    @for (state of filteredStates | async; track state) {
                      <mat-option [value]="state">{{state.nome}}</mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions class="gap-2">
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Avançar</button>
          </mat-card-actions>
        </mat-card>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
