<div class="w-screen h-screen bg-base-100 flex flex-row justify-center items-center">
    <div class="w-1/5 h-full flex flex-col justify-center items-center">
        <div class="text-xl text-white mb-5">Login</div>
        <form [formGroup]="loginForm" class="flex flex-col gap-3 justify-center items-center w-full p-4 max-w-56" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            <input id="username" type="text" class="input input-sm bg-white text-base-100 w-full" placeholder="username" formControlName="username"/>
            <input id="password" type="password" class="input input-sm bg-white text-base-100 w-full" placeholder="password" formControlName="password"/>
            <input id="token" type="text" class="input input-sm bg-white text-base-100 w-full" placeholder="token" formControlName="token"/>
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-sm btn-primary text-base-100">Login</button>
        </form>
    </div>
    <div class="w-4/5 h-full bg-white flex flex-col justify-center items-center">
        <img src="assets/images/discount.svg" alt="My Icon">
    </div>
  </div>