@use '@angular/material' as mat;

@include mat.core(); // Include Material core styles

// Define a dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$orange-palette,
    tertiary: mat.$cyan-palette,
  ),
  density: (
    scale: 0, // Control density
  )
));

// Define a light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$orange-palette,
    tertiary: mat.$cyan-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  // Apply the dark theme by default
  @include mat.all-component-themes($dark-theme);

  // Apply the light theme when the user prefers light themes
  @media (prefers-color-scheme: light) {
    @include mat.all-component-colors($light-theme); // Use only the color mixins for the light theme
  }
}