// @use '@angular/material' as mat;

// @include mat.core();

// $dark-theme: mat.define-theme((
//   color: (
//     theme-type: dark,
//     primary: mat.$orange-palette,
//     tertiary: mat.$cyan-palette,
//   ),
//   density: (
//     scale: 0,
//   )
// ));

// $light-theme: mat.define-theme((
//   color: (
//     theme-type: light,
//     primary: mat.$orange-palette,
//     tertiary: mat.$cyan-palette,
//   ),
//   density: (
//     scale: 0,
//   )
// ));

// :root {
//   @include mat.all-component-themes($dark-theme);
//   @media (prefers-color-scheme: light) {
//     @include mat.all-component-colors($light-theme);
//   }
// }

.bg-success {
  background-color: #22c55e !important;
}

.bg-info {
  background-color: #22d3ee !important;
}

.bg-error {
  background-color: #ff4d75 !important;
}

.bg-warning {
  background-color: #fb923c !important;
}